<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block tittle %} {% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
<ul>
    <li>
        <a href="/">首页</a>
    </li>
    <li>
        <a href="{{ url_for('about.about') }}">关于</a>
    </li>
    <li>
        <a href="{{ url_for('login.login') }}">登陆</a>
    </li>
    <li>
        <a href="{{ url_for('article') }}">SQLAlchemy</a>
    </li>
</ul>

{% block body %} {% endblock %}

<footer style="background-color: #ccc;  ">张源版权所有&copy</footer>
</body>
</html>